@import 'colors';
@import 'mixins';

.base-layout {
  position: relative;
  display: flex;
  max-width: 100vw;
  min-height: 100svh;

  .header {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    background: @ui-white-1;
    padding: 0 20px;
    overflow: hidden;

    &.hide {
      animation: headerResizeTop 0.5s 1;
      height: 0;
  }
  }

  .sider {
    position: sticky;
    top: 0;
    left: 0;
    height: 100svh;
    overflow-y: auto;
    overflow-x: hidden;
    
    &.empty {
      min-width: 0 !important;
      max-width: 0 !important;
    }

    .scrollbar-mixin();

    .logo {
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      overflow: hidden;
      background: @ui-white-1;
      z-index: 100;
    }
  }

  .content {
    padding: 20px;
  }
}
