<ng-container *transloco="let t">
    <section class="error">
        <nz-result 
            [nzStatus]="errorType()" 
            [nzTitle]="t(errorTitle())" 
            [nzSubTitle]="t(errorInfo())"
        >
            <div nz-result-extra>
                <button 
                    nz-button 
                    nzType="primary"
                    (click)="onNavigate()"
                >
                    {{t('button.back')}}
                </button>
            </div>
        </nz-result>
    </section>
</ng-container>